<a href="https://colab.research.google.com/github/collinsbett1/WEEK4-IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_07_Collins_Bett.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this weeks Independent Project, we're going to process stations data for an electric car-sharing service company to understand electric car usage.

Loading the company's data

In [3]:
# Let's first import the necessary libraries.
import pandas as pd
import numpy as np

In [4]:
# We will then load the relevant dataset
url = 'http://bit.ly/autolib_dataset'
df = pd.read_csv(url)
# we'll show the first 5 rows
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [5]:
# let's get to know the column names that we're going to work with
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [6]:
# let's get to know the datatypes we're going to work with
df.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [7]:
# Let's get to know our dataset better.
df.shape

(5000, 25)

In [8]:
# total number of cars
df['Cars'].sum()

11668

In [9]:
# total number of blue cars
df['Bluecar counter'].sum()

11668

Data Cleaning

In [10]:
# let's drop the unnecessary columns
df.drop(['Address','Cars','Charge Slots','Charging Status','Displayed comment','Scheduled at', 'Slots','Geo point'], axis = 1, inplace= True)
# to check that the columns have been dropped
df.columns

Index(['Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter', 'City', 'ID',
       'Kind', 'Postal code', 'Public name', 'Rental status', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [11]:
# let's convert all column names to lowercase for uniformity
df.columns = map(str.lower, df.columns)
df.columns

Index(['bluecar counter', 'utilib counter', 'utilib 1.4 counter', 'city', 'id',
       'kind', 'postal code', 'public name', 'rental status', 'station type',
       'status', 'subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [12]:
#  lets replace empty spaces with underscore
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['bluecar_counter', 'utilib_counter', 'utilib_1.4_counter', 'city', 'id',
       'kind', 'postal_code', 'public_name', 'rental_status', 'station_type',
       'status', 'subscription_status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [13]:
# let's now save the cleaned Dataset to a csv file
df.to_csv('cleaned_autolib.csv')

In [14]:
# Let's read the cleaned dataset and convert the hour and minute column to srting
autolib = pd.read_csv('cleaned_autolib.csv', index_col=0, dtype = {'hour':str, 'minute':str})
autolib.head()

   bluecar_counter  utilib_counter  utilib_1.4_counter  ... day hour minute
0                0               0                   0  ...   8   11     43
1                6               0                   0  ...   6    7     24
2                3               0                   2  ...   3   20     14
3                3               1                   0  ...   4    4     37
4                3               0                   0  ...   8   17     23

[5 rows x 17 columns]

In [15]:
# Let's now combine the year, month and date into one column
autolib['date'] = pd.to_datetime((autolib.year*10000+autolib.month*100+autolib.day).apply(str),format='%Y%m%d')

In [16]:
# let's now concatanate the hour and minute into one column called time
autolib['time'] = autolib.hour.str.cat([autolib.minute], sep = ':')

In [17]:
# checking the datatypes to make sure the changes have reflected
autolib.dtypes

bluecar_counter                 int64
utilib_counter                  int64
utilib_1.4_counter              int64
city                           object
id                             object
kind                           object
postal_code                     int64
public_name                    object
rental_status                  object
station_type                   object
status                         object
subscription_status            object
year                            int64
month                           int64
day                             int64
hour                           object
minute                         object
date                   datetime64[ns]
time                           object
dtype: object

In [18]:
# let's drop the year and month columns
autolib.drop(['year', 'month',], axis = 1, inplace = True)

In [19]:
# checking the column names
autolib.columns

Index(['bluecar_counter', 'utilib_counter', 'utilib_1.4_counter', 'city', 'id',
       'kind', 'postal_code', 'public_name', 'rental_status', 'station_type',
       'status', 'subscription_status', 'day', 'hour', 'minute', 'date',
       'time'],
      dtype='object')

In [20]:
# let's now convert the autolib dataset into a csv file that we'll use is in analysis
autolib.to_csv('electric.csv')

Data Analysis

In [21]:
# we're going to load the dataset from the csv file
electric = pd.read_csv('electric.csv', index_col= 0)
electric.head()

   bluecar_counter  utilib_counter  ...        date   time
0                0               0  ...  2018-04-08  11:43
1                6               0  ...  2018-04-06   7:24
2                3               0  ...  2018-04-03  20:14
3                3               1  ...  2018-04-04   4:37
4                3               0  ...  2018-04-08  17:23

[5 rows x 17 columns]

In [26]:
# Let's narrow down the DataFrame to select stations only in Paris.
paris_stations = electric[(electric.city == 'Paris')]
paris_stations.head()

   bluecar_counter  utilib_counter  ...        date   time
0                0               0  ...  2018-04-08  11:43
1                6               0  ...  2018-04-06   7:24
3                3               1  ...  2018-04-04   4:37
4                3               0  ...  2018-04-08  17:23
5                0               0  ...  2018-04-06    7:2

[5 rows x 17 columns]

In [31]:
# The most popular hour of the day for picking up a shared electric car (Bluecar)
# in the city of Paris over the month of April 2018.
hour = paris_stations.groupby(['hour'])['bluecar_counter'].sum()
hour

hour
0     206
1     207
2     221
3     242
4     209
5     235
6     260
7     225
8     234
9     250
10    232
11    201
12    250
13    207
14    163
15    218
16    208
17    187
18    192
19    193
20    149
21    268
22    197
23    191
Name: bluecar_counter, dtype: int64

In [32]:
hour.diff().sort_values(ascending = False)
# The most popular hour is 21

hour
21    119.0
15     55.0
12     49.0
5      26.0
6      25.0
3      21.0
9      16.0
2      14.0
8       9.0
18      5.0
1       1.0
19      1.0
23     -6.0
16    -10.0
10    -18.0
17    -21.0
11    -31.0
4     -33.0
7     -35.0
13    -43.0
14    -44.0
20    -44.0
22    -71.0
0       NaN
Name: bluecar_counter, dtype: float64

In [35]:
# What station is the most popular  Overall?
#

paris_stations['public_name'].value_counts().idxmax()

'Paris/Porte de Montrouge/8'

In [40]:
# What postal code is the most popular for picking up Blue cars? 
# Does the most popular station belong to that postal code?

# index the bluecars dataframe by station
number1 = paris_stations.set_index('public_name').select_dtypes(int)

# find the maximum indexcount(public_name) during the most popular picking hour 
id1 = number1[(number1['hour'] ==21)].idxmax()
# check output
id1

bluecar_counter                   Paris/Grenelle/139
utilib_counter                        Paris/Arago/99
utilib_1.4_counter               Paris/RenÃ© Coty/11
postal_code                        Paris/Couronnes/2
day                              Paris/RenÃ© Coty/11
hour                            Paris/Jean Moulin/34
minute                Paris/Jean-FranÃ§ois LÃ©pine/1
dtype: object

In [42]:
# Most popular station and most popular picking hour in Paris in terms of the total number of cars
# We'll first create a new column containing the total number of the three types of cars.
paris_stations['car_sum']= paris_stations.iloc[:, 0:4].sum(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [43]:
paris_stations.columns

Index(['bluecar_counter', 'utilib_counter', 'utilib_1.4_counter', 'city', 'id',
       'kind', 'postal_code', 'public_name', 'rental_status', 'station_type',
       'status', 'subscription_status', 'day', 'hour', 'minute', 'date',
       'time', 'car_sum'],
      dtype='object')

In [46]:
paris_stations.groupby(['id'])['car_sum'].sum().sort_values(ascending = False).head()

id
paris-portedemontrouge-8      50
paris-philippeauguste-126     44
paris-taillebourg-2           38
paris-adolpheyvon-6           37
paris-raymondlosserand-229    37
Name: car_sum, dtype: int64

In [48]:
#Most popular station and most picking hour in Paris in terms of the total number of cars
paris_stations.groupby(['id','hour'])['car_sum'].sum().sort_values(ascending = False).head(10)

id                               hour
paris-portedevilliers-28         8       15
paris-claudebernard-16           4       15
paris-henrimartin-70             9       12
paris-doudeauville-29            7       12
paris-cambronne-parking          20      11
paris-chateaulandon-24           5       11
paris-versaillesreynaud-parking  12      11
paris-portedechamperret-6        11      10
paris-julesromains-1             9       10
paris-philippeauguste-126        8       10
Name: car_sum, dtype: int64

In [49]:
#most popular postal code for picking up blue cars
electric.groupby(['postal_code','hour'])['bluecar_counter'].sum().sort_values(ascending = False).head()

postal_code  hour
75015        6       44
75017        23      43
92000        7       43
             13      42
75016        1       41
Name: bluecar_counter, dtype: int64

In [50]:
#when using utilib
electric.groupby(['id','postal_code','hour'])['utilib_counter'].sum().sort_values(ascending = False).head()

id                                     postal_code  hour
paris-jeanjacquesrousseau-62           75001        14      2
paris-arago-99                         75014        21      2
paris-hericart-54                      75015        8       2
fontenaysousbois-jeanpierretimbaud-17  94120        0       2
paris-chateaubriand-19                 75008        18      2
Name: utilib_counter, dtype: int64

In [51]:
#when using utilib 1.4
electric.groupby(['id','postal_code','hour'])['utilib_1.4_counter'].sum().sort_values(ascending = False).head()

id                            postal_code  hour
sevres-granderue-123          92310        0       4
paris-jeanjacquesrousseau-62  75001        14      4
sevres-wolfenbuttel-1         92310        10      3
paris-felixfaure-109          75015        13      3
paris-renecoty-11             75014        21      2
Name: utilib_1.4_counter, dtype: int64